// h1 {
//     text-align: center;
//     // color: white;
//     font-family: 'PinyonScript-Regular';
//     font-size: 50px;
//     font-weight: 600;
//     margin: 0;
//     padding: 20px;
//   }
// .image {
    
// 	background-image: url('/assets/Images/banner1.png');
//     background-repeat: no-repeat;
//     background-size: contain; /* Set the background size to 'contain' */
//     background-position: center; /* Center the background image */
//     background-size: 40% 100%;
// }
// .header {
// 	padding-top: 50px;
// 	padding-bottom: 50px;
//     padding-right: 50px;
// 	padding-left: 50px;
// 	color: black;
//     font-family: 'PinyonScript-Regular';
//     font-size: 50px;
// 	// font-size: 20px;
// 	text-align: center;
// }
.image {
    background-image: url('/assets/Images/banner1.png');
    background-repeat: no-repeat;
    background-size: contain; /* Set the background size to 'contain' */
    background-position: center; /* Center the background image */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
    min-height: 70px;

}

// LOOK BUMBUM 
// Below I have made an example on how to have different css properties for different screen sizes. 
// These only override the specific property (in this case background-color) of the .image css class
/* Small devices (portrait tablets and large phones, 600px and up) */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Input{
        min-width: 450px;
        min-height: 300px;
    }
    .Extra-space{
        height: 170px;
    }
}

@media only screen and (min-width: 600px) {
    .Input{
        min-width: 350px;
        min-height: 350px;
    }
    .Extra-space{
        height: 130px;
    }
}

//  Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
    .Input{
        min-width: 250px;
        min-height: 350px;
    }
    .header2 {
        font-size: 2vw;
    }
    .header {
        font-size: 2vw;
    }
    // .Extra-space{
    //     height: 130px;
    // }
}
    
// Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
    .image{
        min-width: 450px;
        min-height: 90px;
    }
    .header {
        font-size: 2vw;
    }

    .Input{
        // min-width: 992px;
        min-width: 450px;
        min-height: 550px;
    }
    .header2 {
        font-size: 2.2vw;
    }
    .Extra-space{
        height: 20px;
    }
}

.Input{
    background-image: url('/assets/Images/background1.svg');
    // background-image: url('https://i.pinimg.com/564x/8e/ae/e5/8eaee56d1074852d25fa9a46a672cf19.jpg');
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center; // Center the background image 
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 450px;
    // min-height: 550px;
    animation-name: breathingMotion;
    animation-duration: 1s;
}


@keyframes breathingMotion {
    0%   { background-size: 50px; }
    100% { background-size: 500px; }
}
.header {
    // padding: 50px;
    color: black;
    font-family: 'PinyonScript-Regular';
    // font-size: 2vw;
    text-align: center;
    // min-width: 450px;
    // max-width: 90%; /* Limit the maximum width of the text */
    margin: 0;
}

.header2 {
    font-family: 'PinyonScript-Regular';
    // font-size: 3dvb;
    text-align: center;
    min-width: 450px;
    font-weight: 700;
}

// .enterName{
//     text-align: center;
//     font-family: 'PinyonScript-Regular';
//     font-size: 40px;
//     font-weight: 700;
// }  
.nameInput{
    background-color: antiquewhite;
    // border: antiquewhite;
    font-family: 'Charm-Regular';

    font-size: 20px;
    text-align: center;
}
// .quoteButton{
//     text-align: center;
//     font-family: 'Charm-Regular';
//     font-size: 25px;
//     font-weight: 300;
// }  
.Input button {
    display: block;
}

.input-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }